doctype html
html
    head
        title Seznam úkolů
        link(rel='stylesheet'
href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
    body
        header.jumbotron-fluid.bg-success.p-3
            h1.text-center.text-white #{nadpis}     
        main.container
            table(class="table table-striped")
                thead
                    tr.bg-dark.text-light
                        th Zadání úkolu
                        th Předmět
                        th Datum zadání
                        th Datum odevzdání
                tbody
                    each ukol in ukoly 
                        tr
                            td #{ukol.ukol}
                            td #{ukol.predmet}
                            td #{ukol.zadani}
                            td #{ukol.odevzdani}
        footer.bg-dark.p-2
            .container.text-white
                p.float-right
                    a(href="/") Zpět na formulář
                p &copy; 2022 - IT2 - NodeJS - Šimon Jantošík
        script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js')
        script(src='https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js')